#ControlBox {
    display:flex;
    flex-wrap:wrap;
    flex-direction:colunm;
    background-color:blue;
    cursor:pointer;
}
#ControlBox *{
    padding:10px;
    border:1px solid black;
    
}
#ControlBox *:active{
    padding:8px;
    border:2px solid black;
}
#ControlBox:nth-of-type(odd) {
background-color:green;
}
#ControlBox:nth-of-type(even) {
background-color:red;
}
#MAP, body, html {
    width:100%;
    height:100%;
border-collapse:collapse;
	margin:0;
}
